<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="productMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Kevin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-img src="https://wallpaperstream.com/wallpapers/full/spring-nature/Colorful-Park-Spring-Nature-HD-Wallpaper.jpg"></ion-img>
          <ion-card-header>
            <h3 class="ion-text-center">Kevin Hendy - 19921 - CL</h3>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <ul>
                <li>Pengerjaan aplikasi dilakukan secara individu</li>
                <li>Sumber referensi koding berasal dari <a href="stackoverflow.com" style="text-decoration: none; color: grey" ><i>stackoverflow.com</i></a></li>
                <li>Penggunaan materi mingguan Cross-Platform Mobile Programming Week 1 sampai Week 7</li>
                <li>Tidak ada penggunaan library dari luar</li>
              </ul>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
